.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(120, 120, 120, 0.776);
    border-radius: 5%;
    background-color: rgba(41, 41, 41, 0.296);
}

.gridItem {
    background-color: #2f2f2f39;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    border: 1px solid rgba(120, 120, 120, 0.308);
}

.gridItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imageContainer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.image {
    width: 90%;
    height: 110%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

.title {
    font-size: 1rem;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
        padding: 10px;
    }

    .gridItem {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .imageContainer {
        height: 120px;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .title {
        font-size: 0.9rem;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .gridContainer {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 5px;
    }

    .gridItem {
        border-radius: 5px;
    }

    .imageContainer {
        height: 100px;
    }

    .title {
        font-size: 0.8rem;
        padding: 5px;
    }
}
