.gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px 1px 1px inset rgba(120, 120, 120, 0.776);
    /* Marco sutil */
    border-radius: 5%;
    background-color: rgba(41, 41, 41, 0.296);
    margin-bottom: 1%;
}

.gridItem {
    background-color: #2f2f2f39;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    border: 1px 1px 1px 1px solid rgba(120, 120, 120, 0.308);
    /* Marco sutil */

}

.gridItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imageContainer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #eee;

}

.image {
    width: 90%;
    height: 110%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

.title {
    font-size: 1.1rem;
    color: #ffffff;
    padding: 15px;
    font-weight: bold;
}