/* Estilo general para todo el fondo */
.link {
  text-decoration: none;
}

/* Contenedor principal */
.container {
  display: grid;
  align-items: center;
  justify-items: flex-start;
  width: 100%;
  background-image: url('/imagesflama.png'); /* Ruta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Fija el fondo para un efecto de paralaje */
  color: #e0e0e0;
  text-align: center;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  padding: 20px; /* Espaciado adicional */
}

/* Contenedor para el texto */
.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para el título principal */
.title {
  font-size: 9vw;
  font-weight: 700;
  color: #e0e0e0;
  margin: 5px 0;
  box-shadow: 1px 4px 8px rgba(199, 199, 199, 0.4);
  border-radius: 5%;
}

/* Estilo para el título de la app */
.titleApp {
  font-size: 5vw;
  font-weight: 500;
  color: #c0c0c0;
  margin-top: 1px;
  padding-bottom: 5%;
}

/* Estilo para la imagen */
.image {
  display: flex;
  justify-content: center;
  padding: 5px;
  align-self: flex-end;
  border-radius: 10%;
}

.image img {
  padding-left: 2%;
  max-width: 80%;
  height: auto;
  border-radius: 8px;
}

/* Estilos para los botones */
.button {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  background: rgba(255, 255, 255, 0.0033);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.109);
  padding: 10px 50px 10px;
  font-size: 1.1rem;
  border-radius: 30px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.045);
  margin-top: 10px;
  margin-bottom: 18px;
}

/* Eliminar subrayado de los enlaces */
.button a {
  text-decoration: none;
  color: inherit;
}

/* Efecto al pasar el mouse */
.button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2);
}

/* Efecto al hacer clic */
.button:active {
  transform: scale(0.98);
}

/* Estilos para pantallas grandes (escritorio) */
@media (min-width: 768px) {
  .container {
    padding-top: 1%;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgba(255, 255, 255, 0.003);
    align-items: center;
    justify-items: center;
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    padding-bottom: 15%;
  }

  .textContainer {
    justify-self: center;
  }

  .title {
    font-size: 2em;
    color: #ffffff;
  }

  .titleApp {
    font-size: 2em;
    color: #d0d0d0;
  }

  .image {
    justify-content: start;
    padding-right: 50px;
    align-self: center;
  }

  .image img {
    max-width: 50%;
  }
}
